/* ESERCIZIO 1) Crea un selettore per selezionare l'<h1> nella sezione "hero", ovvero nel jumbotron */

h1:hover {
  color: chartreuse;
  background-color: chocolate;
  font-weight: bold;
}

/* ESERCIZIO 2) Crea un selettore per selezionare tutti i figli dell'elemento navbar */

span:hover {
  color: chartreuse;
  background-color: chocolate;
  font-weight: bold;
}

/*ESERCIZIO 3) Crea un selettore per selezionare il link "Continua a leggere" del jumbotron*/

.font-weight-bold:hover {
  color: chartreuse;
  background-color: chocolate;
  font-weight: bold;
}

/*ESERCIZIO 4) Crea un selettore per selezionare il primo blog post*/

header div a:hover {
  color: chartreuse;
  background-color: chocolate;
  font-weight: bold;
}

/* ESERCIZIO 5) Crea un selettore per selezionare l'<hr> del primo blog post e colorarlo di rosso*/

hr:hover {
  background-color: red;
}

/*ESERCIZIO 6) Crea un selettore per selezionare i link pari della navbar*/

.nav > span:nth-of-type(even):hover {
  background-color: aqua;
}

/*ESERCIZIO 7) Crea un selettore per selezionare tutti gli <li> della prima "ordered-list" della sidebar ("Archivio")*/

.list-unstyled:hover {
  background-color: rgb(178, 200, 182);
  font-weight: bold;
}

/*ESERCIZIO 8) Crea un selettore per selezionare l'autore del secondo blog post*/

#iacopo:hover {
  background-color: rgb(178, 200, 182);
  font-weight: bold;
}

/*ESERCIZIO 9) Crea un selettore per selezionare il secondo <li> della lista del terzo blog post*/

.blog-post:nth-of-type(3) > ul li:nth-of-type(3):hover {
  background-color: aqua;
  text-decoration: underline;
}

/*ESERCIZIO 10) Crea un selettore per selezionare il link "Torna su" che trovi a fondo pagina nell'angolo in basso a destra*/

.float-right:hover {
  text-decoration: underline;
  background-color: aqua;
}

/*ESERCIZIO 11) Crea un selettore per selezionare il bottone "Nuovi" che trovi in basso*/

.btn.btn-outline-secondary.disabled {
  text-decoration: underline;
  background-color: aqua !important;
}

.btn.btn-outline-secondary.disabled:hover {
  break-before: always;
}

/*ESERCIZIO 12) Crea un selettore per selezionare il secondo link del footer*/

.text-center > a:last-of-type:hover {
  background-color: aqua;
}
